
<template>
    <div>
        <b-container>
            <b-row>
                <b-col><label for="start-date">วันเริ่มต้น</label><b-form-datepicker id="start-date" v-model="startDate" class="mb-2"></b-form-datepicker></b-col>
                <b-col> <b-form-timepicker v-model="startTime" locale="th"></b-form-timepicker></b-col>
            </b-row>
            <b-row>
                <b-col> <label for="end-date">วันสิ้นสุด</label>
        <b-form-datepicker id="end-date" v-model="endDate" class="mb-2"></b-form-datepicker></b-col>
                <b-col><b-form-timepicker v-model="endTime" locale="th"></b-form-timepicker></b-col>
            </b-row>
        </b-container>

        <vue-cal style="heigh: 250px" :locale="th" active-view="week" :event="event">
    </div>
</template>

<script>
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
import th from '../locale/th'
export default {
  data () {
    return {
      startDate: '',
      endDate: '',
      startTime: '',
      endTime: '',

      event: [
        {
          start: '2022-03-20 20:40',
          end: '2022-03-20 21:40',
          title: 'ทำงาน',
          content: 'กัดฟันทำงาน',
          class: 'study'
        }
      ]
    }
  },
  computed: {
    th () {
      return th()
    }
  },
  components: {
    VueCal
  }
}
</script>

<style>
</style>
